# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/SumoDrone
/archive
/x64/Debug
/SumoDrone/x64/Release/SumoDrone.tlog
/SumoDrone/x64/Release
/x64/Release
CMakeLists.txt
/x64
op.txt
runCompare.bat
SumoDrone.vcxproj.user
SumoDrone.vcxproj.user
SumoDrone.vcxproj.user
*.user
chargelog.txt
chargelogcpp.txt
dronelog.txt
dronelogcpp.txt
randomtest.bat
SumoDrone.vcxproj.user
opr.txt
SumoDrone.vcxproj.filters
SumoDrone.vcxproj.user
SumoDrone/x64/Debug/SumoDrone.exe.recipe
SumoDrone.vcxproj
SumoDrone.vcxproj.filters
SumoDrone.vcxproj.user
